.form-container {
      margin: auto;
      background-color: #1b263b;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
      width: 550px;
      border: 2px solid;
      padding: 35px;
    }

    .form-label {
      color: #f0f0f0;
    }
    .btn-primary {
        background-color: #1d4ed8;
      border-color: #1d4ed8;
      color: #f0f0f0;
    }

    .btn-primary:hover {
      background-color: #0d6efd;
    }